.container {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 100px auto;
  width: 750px;
  border: solid rgb(11, 91, 113);
  border-radius: 10px;
  border-width: 2px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

form {
  font-size: 18px;
  text-align: center;
  margin-left: -40px;
  margin-bottom: 30px;
  padding: 10px;
  width: 650px;
  padding-left: 5px;
}

.form {
  border: solid;
  border-color: rgb(11, 91, 113);
  border-radius: 10px;
  border-width: 2px;
  padding-left: 20px;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
#submit {
  border: solid;
  border-color: rgb(11, 91, 113);
  border-radius: 10px;
  border-width: 2px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
}
button {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border: solid rgb(11, 91, 113);
  border-width: 2px;
  border-radius: 10px;
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 5px;
  font-weight: lighter;
}
button:hover {
  background-color: rgb(11, 91, 113);
  color: white;
}

#submit:hover {
  background-color: rgb(11, 91, 113);
  color: white;
}

.main-highlight {
  text-align: center;
  margin: 20px auto;
  margin-left: -10px;
  font-weight: bolder;
}
.date {
  font-size: 20px;
  text-align: center;
  margin-left: -90px;
  width: 400px;
}

.weather-pic {
  text-align: center;
  margin-left: 80px;
}
.temperature {
  margin-left: 70px;
  font-weight: bolder;
}

.col-7 {
  margin-top: 20px;
  margin-left: 80px;
  text-align: center;
}
.humidity {
  margin-left: 90px;
  font-size: 20px;
  font-weight: lighter;
}

.wind {
  margin-left: 90px;
  font-size: 20px;
  font-weight: lighter;
}
.prediction {
  margin-left: 100px;
  width: 250px;
  font-weight: lighter;
  font-size: 18px;
  padding: 5px 5px;
}
